.app {
  width: 900px;
  height: 500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 20px;
}

.total-time {
  margin: 20px 0;
}

.list-section,
.video-section {
  display: inline-block;
  width: 45%;
  height: 100%;
  padding: 20px;
}

.list-section {
  background-color: white;
}

.video-section {
  background-color: #eeeff1;
}

.video-wrapper {
  display: flex;
  height: 100%;
}

video {
  width: 100%;
}

.videos {
  height: 100%;
  overflow-y: auto;
}

.videos li {
  border-bottom: 1px solid #edeff0;
  padding: 20px;
  cursor: pointer;
  display: flex;

  &:hover {
    background-color: #ccc;
  }

  &.selected {
    background-color: #d4e2fe;
  }

  .video-title {
    margin-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .spacer {
    margin: 0 4px;
  }

  .progress {
    margin-right: 4px;
  }

  .video-time {
    margin-left: auto;
    flex-basis: 110px;
    text-align: right;
  }
}
